---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import { removeFileExtension } from "@/utils/url-utils";
import Twikoo from "./Twikoo.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { id, data } = Astro.props.post;

const slug = removeFileExtension(id);
const path = `/posts/${slug}`;
// const url = `${Astro.site?.href}${path}`;

let commentService = "";
if (commentConfig?.enable && commentConfig?.twikoo) {
	commentService = "twikoo";
}

const commentEnabled = data.comment ?? true;
---
{commentConfig?.enable && commentEnabled && (
  <div class="card-base p-6 mb-4">
    {commentService === 'twikoo' && <Twikoo path={path} />}
    {commentService === '' && null}
  </div>
)}
